<home></home>
<h4>
  <a [routerLink]="'/monitoring'"><span class="fa fa-undo"></span>Retour</a>
</h4>


<div class="container">
  <h2 *ngIf="state==='Clock'">Clock</h2>
  <h2 *ngIf="state==='Heater'">Heater</h2>
  <h2 *ngIf="state==='Shutter'">Shutter</h2>
  <h2 *ngIf="state==='Strap'">Strap</h2>
  <h2 *ngIf="state==='Light'">Light</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>State</label>
        <input *ngIf="state === 'Clock' " type="text" class="form-control" value="{{clockWithDetail.clock.state}}"
               disabled>
        <input *ngIf="state === 'Heater' " type="text" class="form-control" value="{{heaterWithDetail.heater.state}}"
               disabled>
        <input *ngIf="state === 'Shutter' " type="text" class="form-control" value="{{shutterWithDetail.shutter.state}}"
               disabled>
        <input *ngIf="state === 'Strap'" type="text" class="form-control" value="{{strapWithDetail.strap.state}}"
               disabled>
        <input *ngIf="state === 'Light'" type="text" class="form-control" value="{{lightWithDetail.light.state}}"
               disabled>
      </div>
      <div class="form-group col-md-6">
        <label>Room number</label>
        <input *ngIf="state==='Clock' " type="text" class="form-control" value="{{clockWithDetail.clock.room.num}}"
               disabled>
        <input *ngIf="state==='Heater' " type="text" class="form-control" value="{{heaterWithDetail.heater.room.num}}"
               disabled>
        <input *ngIf="state==='Shutter' " type="text" class="form-control"
               value="{{shutterWithDetail.shutter.room.num}}" disabled>
        <input *ngIf="state==='Strap' " type="text" class="form-control" value="{{strapWithDetail.strap.room.num}}"
               disabled>
        <input *ngIf="state==='Light' " type="text" class="form-control" value="{{lightWithDetail.light.room.num}}"
               disabled>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Owner</label>
        <input *ngIf="state==='Clock' " type="text" class="form-control"
               value="{{clockWithDetail.clock.person.lastName}} {{clockWithDetail.clock.person.firstName}}" disabled>
        <input *ngIf="state==='Heater' " type="text" class="form-control"
               value="{{heaterWithDetail.heater.person.lastName}} {{heaterWithDetail.heater.person.firstName}}"
               disabled>
        <input *ngIf="state==='Shutter' " type="text" class="form-control"
               value="{{shutterWithDetail.shutter.person.lastName}} {{shutterWithDetail.shutter.person.firstName}}"
               disabled>
        <input *ngIf="state==='Strap' " type="text" class="form-control"
               value="{{strapWithDetail.strap.person.lastName}} {{strapWithDetail.strap.person.firstName}}" disabled>
        <input *ngIf="state==='Light' " type="text" class="form-control"
               value="{{lightWithDetail.light.person.lastName}} {{lightWithDetail.light.person.firstName}}" disabled>
      </div>
      <div class="form-group col-md-6">
        <label>Percentage On Last Month</label>
        <input *ngIf="state==='Clock' " type="text" class="form-control"
               value="{{clockWithDetail.percentageOnLastMonth}}"
               disabled>
        <input *ngIf="state==='Heater' && heaterWithDetail.usedlastmonth===true" type="text" class="form-control"
               value="{{heaterWithDetail.percentageOnLastMonth}} %" disabled [ngStyle]="{color: 'green'}">
        <input *ngIf="state==='Heater'  && heaterWithDetail.usedlastmonth===false" type="text" class="form-control"
               value="{{heaterWithDetail.percentageOnLastMonth}} %" disabled [ngStyle]="{color: 'red'}">
        <input *ngIf="state==='Shutter' " type="text" class="form-control"
               value="{{shutterWithDetail.percentageOnLastMonth}}" disabled>
        <input *ngIf="state==='Strap' " type="text" class="form-control"
               value="{{strapWithDetail.percentageOnLastMonth}}"
               disabled>
        <input *ngIf="state==='Light' && lightWithDetail.usedlastmonth===true " type="text" class="form-control"
               value="{{lightWithDetail.percentageOnLastMonth}} %"
               disabled [ngStyle]="{color: 'green'}">
        <input *ngIf="state==='Light' && lightWithDetail.usedlastmonth===false " type="text" class="form-control"
               value="{{lightWithDetail.percentageOnLastMonth}} %"
               disabled [ngStyle]="{color: 'red'}">
      </div>
    </div>
    <div class="form-row">
      <div *ngIf="state==='Strap' " class="form-group col-md-4">
        <label>Minimum Systo</label>
        <input type="text" class="form-control" value="{{strapWithDetail.strap.minsysto}}" disabled>
      </div>
      <div *ngIf="state==='Strap' " class="form-group col-md-4">
        <label>Maximum Systo</label>
        <input type="text" class="form-control" value="{{strapWithDetail.strap.maxsysto}}" disabled>
      </div>
      <div *ngIf="state==='Strap' " class="form-group col-md-4">
        <label>Maximum Diasto</label>
        <input type="text" class="form-control" value="{{strapWithDetail.strap.maxdiasto}}" disabled>
      </div>
      <div *ngIf="state==='Strap' " class="form-group col-md-6">
        <label>Max Glyc</label>
        <input type="text" class="form-control" value="{{strapWithDetail.strap.maxglyc}}" disabled>
      </div>
      <div *ngIf="state==='Strap' " class="form-group col-md-6">
        <label>Min Glyc</label>
        <input type="text" class="form-control" value="{{strapWithDetail.strap.minglyc}}" disabled>
      </div>
    </div>
  </form>

  <table class="table table-striped" *ngIf="state==='Light' && lightWithDetail.lightshistoric.length!==0">
    <thead>
    <TR>
      <TH COLSPAN="4">
        <H3><BR>Light historic for last month</H3>
      </TH>
    </TR>
    <tr>
      <th scope="col">Schedule</th>
      <th scope="col">Color</th>
      <th scope="col">State</th>
      <th scope="col">Breakdown Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let historic of lightWithDetail.lightshistoric" >
      <td >{{historic.startdate}} - {{historic.endingdate}}</td>
      <td>{{historic.color}}</td>
      <td>{{historic.state}}</td>
      <td  [ngStyle]="{color:'red'}" *ngIf="historic.breakdownstatus==='BREAKDOWN'">{{historic.breakdownstatus}}</td>
      <td  [ngStyle]="{color:'green'}" *ngIf="historic.breakdownstatus==='NOT_BREAKDOWN'">{{historic.breakdownstatus}}</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" *ngIf="state==='Heater' && heaterWithDetail.heaterhistorics.length!==0">
    <thead>
    <TR>
      <TH COLSPAN="4">
        <H3><BR>Heater historic for last month</H3>
      </TH>
    </TR>
    <tr>
      <th scope="col">Schedule</th>
      <th scope="col">State</th>
      <th scope="col">Temperature</th>
      <th scope="col">Breakdown Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let historic of heaterWithDetail.heaterhistorics" >
      <td >{{historic.startdate}} - {{historic.endingdate}}</td>
      <td>{{historic.state}}</td>
      <td  [ngStyle]="{color:'red'}" *ngIf="historic.temperaturetohot===true">{{historic.temperature}} °c</td>
      <td  [ngStyle]="{color:'green'}" *ngIf="historic.temperaturetohot===false">{{historic.temperature}} °c</td>
      <td  [ngStyle]="{color:'red'}" *ngIf="historic.breakdownstatus==='BREAKDOWN'">{{historic.breakdownstatus}}</td>
      <td  [ngStyle]="{color:'green'}" *ngIf="historic.breakdownstatus==='NOT_BREAKDOWN'">{{historic.breakdownstatus}}</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" *ngIf="state==='Shutter' && shutterWithDetail.shutterhistorics.length!==0">
    <thead>
    <TR>
      <TH COLSPAN="4">
        <H3><BR>Shutter historic for last month</H3>
      </TH>
    </TR>
    <tr>
      <th scope="col">Schedule</th>
      <th scope="col">State</th>
      <th scope="col">Breakdown Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let historic of shutterWithDetail.shutterhistorics" >
      <td >{{historic.startdate}} - {{historic.endingdate}}</td>
      <td>{{historic.state}}</td>
      <td  [ngStyle]="{color:'red'}" *ngIf="historic.breakdownstatus==='BREAKDOWN'">{{historic.breakdownstatus}}</td>
      <td  [ngStyle]="{color:'green'}" *ngIf="historic.breakdownstatus==='NOT_BREAKDOWN'">{{historic.breakdownstatus}}</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" *ngIf="state==='Clock' && clockWithDetail.clockhistorics.length!==0">
    <thead>
    <TR>
      <TH COLSPAN="4">
        <H3><BR>Clock historic for last month</H3>
      </TH>
    </TR>
    <tr>
      <th scope="col">Schedule</th>
      <th scope="col">State</th>
      <th scope="col">Breakdown Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let historic of clockWithDetail.clockhistorics" >
      <td >{{historic.startdate}} - {{historic.endingdate}}</td>
      <td>{{historic.state}}</td>
      <td  [ngStyle]="{color:'red'}" *ngIf="historic.breakdownstatus==='BREAKDOWN'">{{historic.breakdownstatus}}</td>
      <td  [ngStyle]="{color:'green'}" *ngIf="historic.breakdownstatus==='NOT_BREAKDOWN'">{{historic.breakdownstatus}}</td>
    </tr>
    </tbody>
  </table>
  <table class="table table-striped" *ngIf="state==='Strap' &&  strapWithDetail.straphistorics.length!==0">
    <thead>
    <TR>
      <TH COLSPAN="4">
        <H3><BR>Strap historic for last month</H3>
      </TH>
    </TR>
    <tr>
      <th scope="col">Schedule</th>
      <th scope="col">State</th>
      <th scope="col">Breakdown Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let historic of strapWithDetail.straphistorics" >
      <td >{{historic.startdate}} - {{historic.endingdate}}</td>
      <td>{{historic.state}}</td>
      <td  [ngStyle]="{color:'red'}" *ngIf="historic.breakdownstatus==='BREAKDOWN'">{{historic.breakdownstatus}}</td>
      <td  [ngStyle]="{color:'green'}" *ngIf="historic.breakdownstatus==='NOT_BREAKDOWN'">{{historic.breakdownstatus}}</td>
    </tr>
    </tbody>
  </table>
</div>
