<home></home>
<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <h4>Messages reçus({{initializeNotification.countMessagesReceived}}), non lus({{initializeNotification.countMessagesReceivedNotRead}})</h4>
        <button class="btn btn-success" [routerLink]="['/notification/received']">Accèder à mes messages reçus</button>
      </div>
    </div>
  </form>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <h4>Messages envoyés({{initializeNotification.countMessagesSent}})</h4>
        <button class="btn btn-success" [routerLink]="['/notification/sent']">Accèder à mes messages envoyés</button>
      </div>
    </div>
  </form>

  <button class="btn btn-primary" [routerLink]="['/notification/new']">Envoyer un nouveau message</button>
</div>
