.parent{
  margin-top : 30px;
}

.map {
  border : solid;
  border-color : black;
  padding: 0px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 5px;
}

.no-padding > [class*='col-'] {
  padding-right:1px;
  padding-left:1px;
}

.carre{
  wight : 50px;
  height : 100px;
  border : solid;
  border-color : black;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius : 5px;
}

.breakdown {
  .fa-home {
    color: darkred;
    font-size: 80px;
  }

}

.NoBreakdown {
  .fa-home {
    color: darkgreen;
    font-size: 80px;
  }
}




