<home></home>
<div class="container-fluid">
  <div class="row">
    <div class="col-11">
      <h2 style="font-family: gubblebum-blocky">Gestion des objets en pannes</h2>
      Ici vous pouvez gérer les objets en panne. Dans la map ci-dessous, lorsqu'un logement est en rouge,
      alors au moins un objet est en panne dans ce logement. Si le logement est en vert, tous les objets fonctionnent
      bien.
      <br/> Cliquez sur le logement pour avoir le détail des objets du logement
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="parent">
        <h4 style="font-family: gubblebum-blocky">Carte</h4>
        <div class="map">
          <div class="row no-padding">
            <div class="col-3" class = "carre" *ngFor="let room of rooms | async; let i = index" (click)="RoomDetail(room)">
                <p class="breakdown" *ngIf="this.breakdowns[i] >= 1" [ngStyle]="{backgroundColor: 'red'}" > objet en panne : {{breakdowns[i]}}<i class="fa fa-home"></i></p>
                <p class="NoBreakdown" *ngIf="this.breakdowns[i] == 0" [ngStyle]="{backgroundColor: 'green'}"> objet en panne : {{breakdowns[i]}} <i class="fa fa-home"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="parent">
        <h4 style="font-family: gubblebum-blocky">Infos des objets du logement</h4>
        <div class="info">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let iot of object | async"> Horloge -- {{iot.state}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
