<home></home>
<div class="container-fluid">
  <div class="row">
    <div class="col-11">
      <h2 style="font-family: gubblebum-blocky">Gestion des objets en pannes</h2>
      Ici vous pouvez gérer les objets en panne. Dans la map ci-dessous, lorsqu'un logement est en rouge,
      alors au moins un objet est en panne dans ce logement. Si le logement est en vert, tous les objets fonctionnent
      bien.
      <br/>
      <!--button breakdown detection -->
      <button type="button" class="btn btn-primary" (click)="breakdownHeatersDetection()">
        Détecter radiateur en panne
      </button>
      <br/> Cliquez sur le logement pour avoir le détail des objets du logement
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="parent">
        <h3 style="font-family: gubblebum-blocky">Carte</h3>
        <div class="map">
          <div class="row no-padding">
            <div class="col-6" class = "carre" *ngFor="let room of rooms | async; let i = index" (click)="RoomDetail(room)">
              <p class="breakdown" *ngIf="this.breakdowns[i+1] >= 1" [ngStyle]="{backgroundColor: 'red'}" > N°{{room.num}} - objet en panne : {{breakdowns[i+1]}}<i class="fa fa-home"></i></p>
              <p class="NoBreakdown" *ngIf="this.breakdowns[i+1] == 0 && this.suspects[i+1] == 0" [ngStyle]="{backgroundColor: 'green'}"> N°{{room.num}} - objet en panne : {{breakdowns[i+1]}}<i class="fa fa-home"></i></p>
              <p class="Suspect" *ngIf="this.breakdowns[i+1] == 0 && this.suspects[i+1] >= 1" [ngStyle]="{backgroundColor: 'orange'}"> N°{{room.num}} - objet suspect : {{suspects[i+1]}}<i class="fa fa-home"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="parent">
        <h3 style="font-family: gubblebum-blocky">Infos des objets du logement</h3>
        <div class="info">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let iot of heaters | async"> Radiateur -- {{iot.breakdownstatus}}</li>
            <li class="list-group-item" *ngFor="let iot of clocks | async"> Horloge -- {{iot.breakdownstatus}}</li>
            <li class="list-group-item" *ngFor="let iot of lights | async"> Lumière -- {{iot.breakdownstatus}}</li>
            <li class="list-group-item" *ngFor="let iot of shutters | async"> Volets -- {{iot.breakdownstatus}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
