<home></home>
<h4>
  <a [routerLink]="['/detailiot', id, 'Strap']"><span class="fa fa-undo"></span>Retour</a>
</h4>
<div class="container">
  <form>

    <div class="form-group row">
      <label class="col-md-2 col-form-label row-md-6 col-form-label" for="destinataire">Destinataire</label>
      <div class="col-md-5">
        <input type="text" class="form-control" id="destinataire" rows="2" disabled
               value="{{strap.person.lastName}} {{strap.person.firstName}}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2 col-form-label row-md-6 col-form-label" for="typemessage">Type de message</label>
      <div class="col-md-5">
        <select class="form-control" id="typemessage" [(ngModel)]="formtype" [ngModelOptions]="{standalone: true}">
          <option value="objet">Message sur l'objet</option>
          <option value="personne">Message pour la personne</option>
          <option value="perso">Message personnalisé</option>
        </select>
      </div>
    </div>

    <div *ngIf="formtype==='objet'">
      <div class="form-group row">
        <label class="col-md-2 col-form-label row-md-6 col-form-label" for="objecttypemessage">Le message concerne
          : </label>
        <div class="col-md-5">
          <select class="form-control" id="objecttypemessage" [(ngModel)]="concerningobject"
                  [ngModelOptions]="{standalone: true}">
            <option value="panne">Panne</option>
            <option value="inactivite">Inactivité</option>
            <option value="tropactif">Activité trop importante</option>
            <option value="defaut">Defaut de l'objet</option>
          </select>
        </div>
      </div>
      <div *ngIf="concerningobject==='inactivite'">
        <div class="form-group row">
          <label class="col-md-2 col-form-label row-md-4 col-form-label" for="messagefinalinactivite">Message qui sera
            envoyé</label>
          <div class="col-md-8">
          <textarea class="form-control " id="messagefinalinactivite" rows="5" disabled
                    value="Bonjour madame,monsieur {{strap.person.firstName}} {{strap.person.lastName}},
Votre bracelet se trouvant dans la pièce {{strap.room.num}} a été détecté comme inactif sur la période du mois dernier.
Cordialement,
L'équipe de supervision"></textarea>
          </div>
        </div>
      </div>

      <div *ngIf="concerningobject==='panne'">
        <div class="form-group row">
          <label class="col-md-2 col-form-label row-md-4 col-form-label" for="messagefinalpanne">Message qui sera
            envoyé</label>
          <div class="col-md-8">
          <textarea class="form-control " id="messagefinalpanne" rows="5" disabled
                    value="Bonjour madame,monsieur {{strap.person.firstName}} {{strap.person.lastName}},
Votre bracelet se trouvant dans la pièce {{strap.room.num}} a été détecté comme en panne durant la période du mois dernier.
Cordialement,
L'équipe de supervision"></textarea>
          </div>
        </div>
      </div>
      <div *ngIf="concerningobject==='tropactif'">
        <div class="form-group row">
          <label class="col-md-2 col-form-label row-md-4 col-form-label" for="messagefinaltropactif">Message qui
            sera
            envoyé</label>
          <div class="col-md-8">
          <textarea class="form-control " id="messagefinaltropactif" rows="5" disabled
                    value="Bonjour madame,monsieur {{strap.person.firstName}} {{strap.person.lastName}},
Votre bracelet se trouvant dans la pièce {{strap.room.num}} a été détecté comme trop utilisé sur la période du mois dernier.
Cordialement,
L'équipe de supervision"></textarea>
          </div>
        </div>
      </div>

      <div *ngIf="concerningobject==='defaut'">
        <div class="form-group row">
          <label class="col-md-2 col-form-label row-md-4 col-form-label" for="messagefinaldefaut">Message qui
            sera
            envoyé</label>
          <div class="col-md-8">
          <textarea class="form-control " id="messagefinaldefaut" rows="5" disabled
                    value="Bonjour madame,monsieur {{strap.person.firstName}} {{strap.person.lastName}},
Votre bracelet se trouvant dans la pièce {{strap.room.num}} a eu un defaut sur la période du mois dernier.
Cordialement,
L'équipe de supervision"></textarea>
          </div>
        </div>
      </div>


    </div>

    <div *ngIf="formtype==='personne'">
      <div class="form-group row">
        <label class="col-md-2 col-form-label row-md-6 col-form-label" for="personnetypemessage">Le message concerne
          : </label>
        <div class="col-md-5">
          <select class="form-control" id="personnetypemessage" [(ngModel)]="personneconcerning"
                  [ngModelOptions]="{standalone: true}">
            <option value="visite">La personne nécessite de passer une visite médicale</option>
          </select>
        </div>
      </div>
      <div *ngIf="personneconcerning==='visite'">
        <div class="form-group row">
          <label class="col-md-2 col-form-label row-md-4 col-form-label" for="messagefinalinpersonvisite">Message qui
            sera
            envoyé</label>
          <div class="col-md-8">
          <textarea class="form-control " id="messagefinalinpersonvisite" rows="5" disabled
                    value="Bonjour madame,monsieur {{strap.person.firstName}} {{strap.person.lastName}},
Vous devez passer une visite médicale dans les plus brefs délais
Cordialement,
L'équipe de supervision"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row" *ngIf="formtype!==''">
      <label *ngIf="formtype === 'personne' || formtype ==='objet'" class="col-md-2 col-form-label row-md-4 col-form-label"
             for="commentaireparticulier">Ajout d'un
        commentaire
        particulier</label>
      <label *ngIf="formtype === 'perso'" class="col-md-2 col-form-label row-md-4 col-form-label"
             for="commentaireparticulier">Message à envoyer</label>
      <div class="col-md-8">
        <textarea class="form-control " id="commentaireparticulier" rows="3"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <button class="btn btn-success">Envoyer le message</button>
    </div>
  </form>
</div>
