<home></home>



<div class="gauche">



<!-- REDIRECTION NOT WORKING YET -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="menu" id="menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" >
          <a class="nav-link" href="#"><i class="fa fa-home"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shutter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Clock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Heater</a>
        </li>
      </ul>
    </div>
  </nav>



</div>


<div class="droite" >



  <div class="shutter">
    ICI LE VOLET <br/>

    <button class="button up">up</button> <br/>
    <button class="button stop">stop</button><br/>
    <button class="button down">down</button>
  </div>

  <div class="heatter">
    ICI LE CHAUFFAGE
  </div>

  <div class="clock">
    ICI LE REVEIL
    <!-- heure actuelle -->



    <!-- le reveil :-->

    <form>
      <label for="scheduledTime">Scheduled time: </label>
      <input type="time" id="scheduledTime">
      <button>OK</button>
    </form>
</div>
</div>


