body {
  background-color: #f2f2f2;
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  padding-left: 200px;
  padding-right: 200px;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
  color: #333;
}


/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.goleft {
  text-align: left;
}

/* Links */
a {
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


.spacing i {
  padding-left: 8px;
  padding-right: 8px
}
/* margin top & Bottom */
.mt {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Special Margin for Wrap sections */
.mts {
  margin-top: -20px;
}


/* service icons */
.si {
  visibility: hidden;
}

.si:hover {
  background-color: #ffffff;
}

.si i {
  font-size: 40px;
  padding: 20px;
}

/* Padding top & bottom */
.pt {
  padding-top: 15px;
  padding-bottom: 15px;
}



/* ================== MAIN WRAP SECTIONS ================== */

#headerwrap {
  background: red;
  margin-top: 0px;
  padding-top: 50px;
  /*background-attachment: relative;
  background-position: center center;*/
  min-height: 450px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 60px;
  color: white;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 1px;
  visibility: hidden;
}

#headerwrap h2 {
  color: white;
  visibility: hidden;

}

#headerwrap .img-responsive {
  margin: 0 auto;
}






/* Color Wraps */
#white {
  margin-top: 0px;
  background-color: #ffffff;
  min-height: 300px;
  width: 100%;
}

#grey {
  margin-top: 0px;
  background-color: #f7f7f7;
  min-height: 300px;
  width: 100%;
}

#black {
  margin-top: 0px;
  background-color: #2f2f2f;
  min-height: 300px;
  width: 100%;
}

#black h3 {
  color: white;
}

#black h4 {
  color: white;
  text-transform: uppercase
}

#black p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

#black i {
  font-size: 35px;
}

#black h1 {
  color: white;
  font-size: 70px;
}

/* Map Wrap*/

#map {
  width: 100%;
  height: 400px;
}

#map-contact {
  width: 100%;
  height: 650px;
}




#ex1Slider .slider-selection {
  background: #BABABA;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


input[type=text] {
  width: 30%;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

}

input[type=text]:focus {
  border: 3px solid #2196F3;
}


/* Make all 4 objects apear side by side */

#premierdiv{height:25%;
}

.float1 {

  float: left;
  width: 25%;
  height:100%;
  padding-left: 8px;
  padding-right: 5px;

}

.float {

  float: left;
  width: 25%;
  height:100%;
  padding-left: 8px;
  padding-right: 5px;
}
.slidecontainer {
  width: 100%;
}

.slider2 {
  -webkit-appearance: none;
  width: 40%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider2:hover {
  opacity: 1;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2196F3;
  cursor: pointer;
}

.slider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #2196F3;
  cursor: pointer;
}
.btn-group .button {
  background-color: white;
  border: 1px solid grey;
  color: grey;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #2196F3;
}

div.noteAlt
{

  background-color: #f0f7fb;
  background-position: 9px 0px;
  background-repeat: no-repeat;
  border-left: solid 4px #3498db;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 60px;
}
