<home></home>

<head>
  <meta charset="utf-8">
  <title>Manage and Configure</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


</head>

<body onload="refreshTime()">



<br>
<div class="noteAlt">

  <br>
  You'll find the list of your iots bellow
  <br>
</div>
  <br><br><br>

<!-- DISPLAY OF THE LIST OF OBJECTS :-->

  <div *ngIf="show===true">
    <div *ngIf="iots!==null && iots.lights!==null" [ngClass]="{'display-none': type!=='Light' && type!=='all',
    'display-visibility': type==='all' || type==='Light'}">
      <h6>Lights</h6>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id </th>
          <th scope="col">State</th>
          <th scope="col">Ip adress</th>
          <th scope="col">Percentage of Brightness </th>
          <th scope="col">Color</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let iot of iots.lights">
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.id}}
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.state}}
            <span  *ngIf="iot.state==='on'"></span>
            <span  *ngIf="iot.state==='off'"></span>
          </td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.ipadress}}</td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.percentage}}</td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.color}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="iots!==null && iots.heaters!==null" [ngClass]="{'display-none': type!=='Heater' && type!=='all',
    'display-visibility': type==='all' || type==='Heater'}">
      <h6>Heaters</h6>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id </th>
          <th scope="col">State</th>
          <th scope="col">Ip adress</th>
          <th scope="col"> Actual heat </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let iot of iots.heaters">
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.id}}
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.state}}
            <span *ngIf="iot.state==='on'"></span>
            <span *ngIf="iot.state==='off'"></span>
          </td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.ipadress}}</td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.actualval}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="iots!==null && iots.shutters!==null" [ngClass]="{'display-none': type!=='Shutter' && type!=='all',
    'display-visibility': type==='all' || type==='Shutter'}">
      <h6>Shutters</h6>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id </th>
          <th scope="col">State</th>
          <th scope="col">Ip adress</th>
          <th scope="col">Opening percentage </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let iot of iots.shutters">
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.id}}
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.state}}
            <span *ngIf="iot.state==='on'"></span>
            <span  *ngIf="iot.state==='off'"></span>
          </td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.ipadress}}</td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.percentage}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



      <div *ngIf="iots!==null && iots.clocks!==null" [ngClass]="{'display-none': type!=='Clock' && type!=='all',
    'display-visibility': type==='all' || type==='Clock'}">
      <h6>Clocks</h6>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">State</th>
          <th scope="col">Ip adress</th>
          <th scope="col">Hour scheduled</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let iot of iots.clocks">
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.id}}
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.state}}
            <span *ngIf="iot.state==='on'"></span>
            <span  *ngIf="iot.state==='off'"></span>
          </td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''">{{iot.ipadress}}</td>
          <td [hidden]="owner!==iot.person.lastName && owner!==''"> {{iot.minvalueref}} </td>
        </tr>
        </tbody>
      </table>
    </div>


<!--
END OF THE DISPLAY OF THE LIST OF OBJECTS
-->
<br><br>
<div class="noteAlt">

  <br>
  You'll find the Scenario part bellow
  <br>
</div>

<br>
<div class="form-group">
  <label for="aut">Hour on which you want to launch the Scenario </label>

 <pre>   <input type="time" id="aut">

   <button class="btn btn-primary" type="submit">Record  </button>
 </pre>
  <label > Then you can wait for it to be launched in the hour scheduled </label>
</div>
<br>
<label >You can just launch it now, manually by clicking here   </label>
<button (click)="runScenario()" class="btn btn-success btn-lg"  type="submit">Go to Bed now Scenario </button>
<br><br>

<br><br>
<!-- DISPLAY OF THE FORMS TO MANAGE EACH OBJECT -->


<div class="noteAlt">

  <br>
  You can manage your iots with this forms
  <br>
</div>
<br><br>
<br><br>



<br><br>



<div class="float">

<h3> Light </h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="form-group">
        <label for="lighti">Id of the Light </label>
        <input type="text" class="form-control" id="lighti" name="id" required [(ngModel)]="lights.id">
      </div>

      <div class="form-group">
        <label >
          Light's color you want
        </label>
         <!--  AJOUTER AUJOURDHUI A REGLER : -->
        <br>
        <div class="form-check form-check-inline">

          <label class="form-check-label" for="green">
            <input class="form-check-input" type="radio" ngModel="lights.color"  name ="couleur" id="green"value="green">
         Green </label>
        </div>

        <div class="form-check form-check-inline">

          <label class="form-check-label" for="red">
            <input class="form-check-input" type="radio" ngModel="lights.color"  name ="couleur" id="red"value="red">
            Red </label>
        </div>

        <div class="form-check form-check-inline">

          <label class="form-check-label" for="blue">
            <input class="form-check-input" type="radio" ngModel="lights.color"  name ="couleur" id="blue"value="blue">
            Blue </label>
        </div>
        <br>
  <!--      <select id="couleur" class="form-control" name="couleur"  required [(ngModel)]="lights.color">
          <option value="red" >Red</option>
          <option value="blue">Blue</option>
        </select>


        -->
      </div>

      <div class="form-group">
        <label for="statee">
         State of your Light
        </label>
        <select id="statee" class="custom-select" name="state" required [(ngModel)]="lights.state">
          <option value="on">On</option>
          <option value="off">Off</option>
        </select>
      </div>

      <div class="form-group">


        <label for="intensite">
          Intensity of the Light
        </label>
        <input type="number" id="intensite" name="intensite" required [(ngModel)]="lights.percentage" min="1" max="100">
     <!--   <select id="intensite" class="form-control" name="intensite"  required [(ngModel)]="lights.percentage">
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10">10</option>
        </select>-->




      </div>


      <button class="btn btn-outline-primary" type="submit">Set those parameters</button>

    </form>
  </div>


<div class="float">

    <h3> Heater </h3>
    <form (ngSubmit)="onSubmitHeater(h)" #h="ngForm">

      <div class="form-group">
        <label for="exampleInputEmail1">Id of the Heater </label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="id" required [(ngModel)]="heaters.id">
      </div>

      <div class="form-group">
        <label for="actualval">
          Heat you want
        </label>
        <input type="number" id="actualval" name="actualval" required [(ngModel)]="heaters.actualval" min="16" max="20">
      </div>



      <div class="form-group">

        <label for="state">
          State of your heater
        </label>
       <select id="state" class="custom-select" name="state" required [(ngModel)]="heaters.state">
          <option value="on">On</option>
          <option value="off">Off</option>
        </select>



      </div>


      <button class="btn btn-outline-primary" type="submit">Set those parameters </button>

    </form>
  </div>


<div class="float">

    <h3> Shutter </h3>
    <form (ngSubmit)="onSubmitShutter(g)" #g="ngForm">


      <div class="form-group">
        <label for="idshut" >Id of the Shutter </label>
        <input type="text" class="form-control" id="idshut" name="id" required [(ngModel)]="shutters.id">
      </div>


      <div class="form-group">


       <label for="percentage">
          Percentage of opening
        </label>

        <input type="number" id="percentage" name="percentage" required [(ngModel)]="shutters.percentage" min="1" max="100">


      </div>
<br><br><br><br>
      <button class="btn btn-outline-primary" type="submit">Set those parameters</button>

    </form>
  </div>


<div class="float">

    <h3> Clock </h3>
    <form (ngSubmit)="onSubmitClock(w)" #w="ngForm">


      <div class="form-group">
        <label for="idclock">Id of the Clock </label>
        <input type="text" class="form-control" id="idclock" name="id" required [(ngModel)]="clocks.id">
      </div>

      <div >
        <label for="appt"> Hour to wake up for</label>

        <input type="time" id="appt" name="appt"
               min="00:00" max="23:59" required [(ngModel)]="clocks.minvalueref">
<br>

      </div>
<br><br><br><br><br>
      <button class="btn btn-outline-primary" type="submit">Set the alarm clock </button>
<br><br>
    </form>
  </div>



</body>
