<home></home>

<head>
  <meta charset="utf-8">
  <title>Gerer</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


</head>

<body onload="refreshTime()">

<div >
  "La Light que vous possédez est "  {{lights.percentage}}

</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">




    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="form-group">
        <label for="couleur">
          Couleur de la lumière
        </label>
        <select id="couleur" class="form-control" name="couleur"  required [(ngModel)]="lights.color">
          <option value="rouge">Rouge</option>
          <option value="bleu">Bleu</option>
        </select>
      </div>

      <div class="form-group">
        <label for="status">
          État de l'appareil
        </label>
        <select id="status" class="form-control" name="status" required [(ngModel)]="lights.status">
          <option value="allumé">Allumé</option>
          <option value="éteint">Éteint</option>
        </select>
      </div>


      <div class="form-group">
        <label for="intensite">
          Intensite de l'appareil
        </label>
        <select id="intensite" class="form-control" name="intensite" [ngModel]="defaultIntensite">
          <option value="faible">Faible</option>
          <option value="moyenne">Moyenne</option>
          <option value="forte">Forte</option>
        </select>
      </div>

      <button class="btn btn-primary" type="submit">Enregistrer</button>

    </form>
  </div>
</div>


</body>

