<home></home>
<div class="container">
  <div class="row my-1">
    <h1>Activity Analysis</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h4>Search</h4>
      <form>
        <div class="form-group">
          <label for="selectresidence">Residence</label>
          <select id="selectresidence" class="form-control mr-2 my-1" #selectresidence (change)="getAllPersonsByResidenceId(selectresidence.value)">
            <option value="0">All</option>
            <option *ngFor="let residence of residencelist" value="{{residence.id}}">{{residence.name}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="selectperson">Person</label>
          <select id="selectperson"class="form-control" #selectperson>
            <option value="0">All</option>
            <option *ngFor="let person of personlist" value="{{person.id}}" >
              {{person.firstName}} {{person.lastName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="selectperiod">Period</label>
          <select id="selectperiod" class="form-control" #selectperiod>
            <option value="all">All</option>
            <option value="given">Select</option>
          </select>
        </div>
        <div class="form-group">
          <label for="startdate">Start date</label>
          <input type="date" class="form-control" id="startdate" #startdate>
        </div>
        <div class="form-group">
          <label for="enddate">End date</label>
          <input type="date" class="form-control" id="enddate" #enddate>
        </div>
        <button type="submit" class="btn btn-primary pull-right" (click)="analysis(selectresidence.value,selectperson.value,selectperiod.value,startdate.value,enddate.value)">Submit</button>
      </form>
    </div>
    <div class="col">
      <h4>Indicators</h4>
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">Indicators</th>
          <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Heather breakdown rate</td>
          <td>{{activityanalysis.heaterbreakdownrate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>

</div>
