<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Residents</title>
</head>
<home></home>
nawfal component
<body>
<pre>{{persons.concat() | json}}</pre>
<table border=4 cellspacing=4 cellpadding=4 width=50%>
  <tr>
    <th scope="col"><h4>ID</h4></th>
    <th scope="col"><h4>Nom</h4></th>
    <th scope="col"><h4>Prénom</h4></th>
    <th scope="col"><h4>Age</h4></th>
    <th scope="col"><h4>Mobilité Estimé</h4></th>
    <th scope="col"><h4>Maladie Chronique</h4></th>
    <th scope="col"><h4>Urgence Medical</h4></th>
    <th scope="col"><h4>Profile</h4></th>
    <th scope="col"><h4>Coefficients Priorité</h4></th>
  </tr>
  <tr *ngFor="let person of persons">
    <th scope="col">{{person.id}}</th>
    <td><h5><input type="text">{{person.nom}}</h5></td>
    <td><h5>{{person.prenom}}</h5></td>
    <td><h5>{{person.age}}</h5></td>
    <td><h5>{{person.estimated_mobility}}</h5></td>
    <td><h5>{{person.chronic_disease}}</h5></td>
    <td><h5>{{person.medical_emergencies}}</h5></td>
    <td><h5>{{person.profile}}</h5></td>
    <td><h5>{{person.priority_coef}}</h5></td>
  </tr>
</table>
<div class="form-group">
  <label>Update the list</label>
  <input
    class="form-control"
    type="text"
    formControlName="List"
  >
</div>
<button type="button" class="btn-secondary">Update</button>
<table></table>
</body>
