<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
<form (ngSubmit)="control(f)" #f="ngForm">

  <pre>
    {{ loginForm.value | json}}
    {{getCurrentModel()}}
  </pre>
  <p class="alert" *ngIf="!trackName.valid && trackName.touched"></p>
  <div class="form-group">
    <label>Nom</label>
    <input
      class="form-control"
      type="text"
      formControlName="Nom"
    >

    <label>Prenom</label>
    <input type="text"
           formControlName="Prenom"
           class="form-control"
           ngModel required>

    <label>Age</label>
    <input type="number"
           formControlName="Age"
           class="form-control"
           ngModel required>
  </div>
  <div class="form-group">
    <label>Adresse</label>
    <input type="text"
           formControlName="Adresse"
           class="form-control"
           ngModel required>
  </div>
  <div class="form-group">
    <label>Code_Postal</label>
    <input type="text"
           formControlName="Code_Postal"
           class="form-control"
           ngModel required>
  </div>
  <div class="form-group">
    <label>e-mail</label>
    <input type="email"
           formControlName="email"
           formclass="form-control"
           ngModel required>
  </div>
  <div class="form-group">
    <label>Telephone</label>
    <input type="tel"
           formControlName="Telephone"
           class="form-control"
           ngModel required>
  </div>

    <div class="form-group">
      <label>A combien estimez-vous votre niveau d'autonomie</label>
      <input type="number"
             id="autonomie"
             class="form-control"
             name="autonomie"
             ngModel="checked"
             (click)="toggle('BAD_Autonomie');"
             (click) ="toggle('bad_otonomie');"
      >

  </div>
      <!--<div *ngIf="isavalable">Avez vous des problèmes de mobilité</div>-->
      <label id="bad_otonomie">Avez vous des problémes de mobilité ?</label>
      <input type="text"
             id="BAD_Autonomie"
             name ="BAD_Autonomie"
             formControlName="BAD_Autonomie"
             class="form-control"
             ngModel
             >

  <!--</div>-->
  <div>
    <div class="form-group">
      <label>Est-ce que vous fumez</label>
      <input type="checkbox"
             formControlName="fumeur"
             class="form-control"
             ngModel required
              (change)="toggle('fumeur');"
      >
    </div>
  </div>

  <div>
    <div class="form-group">
      <label>Depuis combien de temps fumez-vous ?</label>
      <input type="number"
             formControlName="date_fumeur"
             class="form-control"
             id="fumeur"
             ngModel required>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label>Est-ce que vous buvez ?</label>
      <input type="checkbox"
             formControlName="buveur"
             class="form-control"
             ngModel required>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label> Etes vous traitez pour des maladies chroniques ?</label>
      <select formControlName="maladie">
        <option value=""></option>
        <option value="Maladie cardiaque">Maladie cardiaque</option>
        <option value="Maladie et troubles oculaire">Maladie et troubles oculaire</option>
        <option value="Cancer">Cancer</option>
        <option value="Maladie Cérébrale">Maladie Cérébrale</option>
        <option value="Maladie Respiratoire">Maladie Respiratoire</option>
      </select>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label>Etes vous en situation d’urgences médicales ?</label>
      <input type="checkbox" formControlName="urgence" class="form-control" ngModel required>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label>Quelles sont vos loisirs/modes de vie ?</label>
      <input type="checkbox" formControlName="loisirs-modeVie">
      <option value="a">Cuisine</option>
      <option value="b">Lectures</option>
      <option value="c">Sports</option>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label>Votre Revenu moyen est de …?</label>
      <input type="number"
             formControlName="revenu"
             class="form-control">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
</form>
</body>
</html>
