.cardbox {
  background-color: #009efb;
  border: 1px solid black;
  border-radius: 30px;
  color: rgba(255,255,255,0.8);
  cursor: pointer;
  height: 100px;
}
.panel-bd {
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.panel-bd {
  margin: 1em;
}
